@import 'vars';

@media (max-width: 1200px){
  .col-4{
    width: 50%;
  }
}
@media (max-width: 1120px) {
  .header .header__title {
    font-size: 70px;
  }
  .about .about__content{
    background-size: 40%;
  }
}

@media (max-width: 900px) {
  .header .header__content {
    background-size: 75%;
  }
  .about .about__content{
    background-image: none;
  }
  .about .about__title{
    max-width: 100%;
    text-align: center;
    margin-bottom: 30px;
    &:before{
      left: 50%;
      transform: translateX(-50%)
    }
  }
  .about .about__text{
    text-align: center;
    max-width: 100%;
    margin-bottom: 70px;
  }
  .about .about__btn{
    margin: 0 auto;
  }
  .skills .skills__title{
    margin-bottom: 50px;
  }
}

@media (max-width: 780px){
  .footer .to-home{
    &:after{
      top: 90px;
    }
    &:before{
      top: 90px;
    }
  }
}

@media (max-width: 750px) {
  .header .header__content {
    background-image: none;
    text-align: center;
  }
  .btn__menu{
    display: block;
  }
	.header .menu ul{
		display: none;
		position: absolute;
		z-index: 15;
		left: 0;
		right: 0;
		top: 100px;
	}
	.header .menu li + li{
		padding-left: 0;
	}
	.header .menu li{
		display: block;
	}
  .services .col-4{
    width: 100%;
    font: none;
    padding: 0px 15px 80px;
  }
  .skills .skills__title{
    margin-bottom: 0px;
  }
  .portfolio .col-4{
    font: none;
    width: 100%;
  }
  .footer .copy{
    display: flex;
    justify-content: flex-end;
  }
}

@media (max-width: 650px) {
  .header .header__title {
    font-size: 50px;
    line-height: 35px;
  }
  .header .header__text {
    font-size: 17px;
    line-height: 10px;
  }
  .about{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .about .about__title{
    font-size: 35px;
  }
  .about .about__text{
    font-size: 14px;
  }
  .skills{
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .skills .skills__items{
    min-height: 360px;
  }
  .testimonials .items .author{
    font-size: 25px;
  }
  .funfact .col-3{
    display: contents;
  }
}

@media (max-width: 500px){
  .testimonials .items img{
    margin-bottom: 20px;
  }
  .testimonials .items .author{
    margin-bottom: 10px;
  }
  .testimonials .items .position{
    margin-bottom: 10px;
  }
}

@media (max-width: 450px){
  .about .about__title{
    font-size: 20px;
    &:before{
      height: 2px;
      width: 50px;
      top: 70px;
    }
  }
  .about .about__text{
    font-size: 12px;
  }
  .skills{
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .testimonials .slider__inner .slick-dots{
    right: 50%;
    transform: translateX(-50%);
  }
  .testimonials .items img{
    float: none;
    margin-bottom: 20px;
  }
  .testimonials .items .author{
    margin-bottom: 10px;
  }
  .testimonials .items .position{
    margin-bottom: 10px;
  }
  .footer .copy span{
    display: none;
  }
  .footer{
    padding-bottom: 35px;
  }
}

@media (max-width: 440px){
  .testimonials .slider__inner .slick-dots{
    right: 40%;
    transform: translateX(-40%)
  }
}

@media (max-width: 400px){
  .header .header__btn-1,
  .header .header__btn-2 {
    display: block;
    margin-right: 0;
    width: 50%;
    margin: 0 auto;
    font-size: 15px;
  }
  .header .header__text {
    font-size: 14px;
  }
  .header .header__title {
    font-size: 40px;
    line-height: 35px;
  }
  .header .header__btn-1 a,
  .header .header__btn-2 a {
    font-size: 11px;
  }
  .header .header__btn-1{
    margin-bottom: 15px;
  }
  .portfolio .col-4{
    width: 70%;
  }
  .portfolio img{
    max-width: 145%;
  }
  .testimonials .slider__inner .slick-dots{
    margin: 0 auto;
  }
  .testimonials .items{
    padding: 80px 57px 105px 70px;
  }
  .testimonials .title{
    font-size: 40px;
  }
}













@media only screen and (max-width : 1200px) {
  .animated {
  /*CSS transitions*/
  -o-transition-property: none !important;
  -moz-transition-property: none !important;
  -ms-transition-property: none !important;
  -webkit-transition-property: none !important;
  transition-property: none !important;
  /*CSS transforms*/
  -o-transform: none !important;
  -moz-transform: none !important;
  -ms-transform: none !important;
  -webkit-transform: none !important;
  transform: none !important;
  /*CSS animations*/
  -webkit-animation: none !important;
  -moz-animation: none !important;
  -o-animation: none !important;
  -ms-animation: none !important;
  animation: none !important;
  }
  }
@media (min-width: 750px){
	.header .menu ul{
		display: block !important;
	}
}