* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: inline-block;
  text-decoration: none;
}

ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}

.header {
  padding: 30px 0px;
  background-image: url(../img/bgr-header.png);
  -webkit-background-size: cover;
          background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.header .header__content {
  background-image: url(../img/header-fon.png);
  background-repeat: no-repeat;
  background-position: bottom right;
  -webkit-background-size: 80% 80%;
          background-size: 80%;
  min-height: 645px;
}

.header .logo {
  margin-bottom: 180px;
  display: inline-block;
}

.header .header__title {
  color: #4d4d4d;
  font-family: "Asap", sans-serif;
  font-size: 90px;
  line-height: 50px;
  font-weight: 500;
  margin-bottom: 20px;
}

.header .header__text {
  color: #4d4d4d;
  font-family: "Asap", sans-serif;
  font-weight: 500;
  font-size: 22px;
  line-height: 20px;
  opacity: 0.5;
  margin-bottom: 30px;
}

.header .header__btn-1,
.header .header__btn-2 {
  display: inline-block;
  color: #4d4d4d;
  font-family: "Asap", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 10px;
  border: 1px solid #4d4d4d;
  text-align: center;
}

.header .header__btn-1:hover,
.header .header__btn-2:hover {
  background-color: #fff;
  cursor: pointer;
  border: 1px solid transparent;
}

.header .header__btn-1 {
  margin-right: 20px;
  padding: 20px 34px 18px 30px;
}

.header .header__btn-2 {
  padding: 20px 49px 18px 49px;
}

.header .menu {
  float: right;
  margin-bottom: 55px;
}

.header .menu li {
  display: inline-block;
}

.header .menu li + li {
  padding-left: 40px;
}

.header .menu a {
  text-decoration: none;
  line-height: 30px;
  color: #4d4d4d;
  font-size: 16px;
  text-transform: uppercase;
  font-family: "Asap", sans-serif;
  font-weight: 400;
}

.header .menu a:hover {
  text-transform: capitalize;
  cursor: pointer;
  border-bottom: 2px solid #4d4d4d;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}
